<style type="text/css">
  html {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
<div class='row'>
	<div class="col-md-3"></div>
	
	<div class="col-md-6">
		<h1>Welcome!</h1>
	</div>
	
	<div class="col-md-3"></div>
</div>